@using Abp.Timing
@model NetCoreFrame.Web.LoginFormViewModel
@using Abp.Web.Security.AntiForgery
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    Layout = null;
    //我们是ajax请求所以这货无处不在
    AbpAntiForgeryManager.SetCookie(Context);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录入口</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- 浏览器能够响应屏幕宽度 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    @* ◢◢◢◢◢登录样式css ◣◣◣◣◣ *@
    <link href="~/Content/assets/pages/css/login.css" rel="stylesheet" />
    <script src="~/Content/assets/pages/scripts/jquery-3.3.1.js"></script>
    @* ◢◢◢◢◢视频播放css ◣◣◣◣◣ *@
    <script src="~/Content/assets/pages/scripts/jquery.vide.js"></script>

    @* ◢◢◢◢◢基础组件及框架Js ◣◣◣◣◣ *@
    <!-- babel-polyfill  min 实现对ES6 API的支持 -->
    <script src="~/Content/Lib/vue/polyfill.js"></script>
    @* ◢◢◢◢◢ Vue框架 + Vue路由 ◣◣◣◣◣ *@
    <script src="~/Content/Lib/vue/vue.js"></script>
    @* ◢◢◢◢◢ ElementUI ◣◣◣◣◣ *@
    <link href="~/Content/Lib/ElementUI/theme-Chalk/index.css" rel="stylesheet" />
    <script src="~/Content/Lib/ElementUI/index.js"></script>
    @* ◢◢◢◢◢ AbpJs API ◣◣◣◣◣ *@
    <script src="~/Abp/Framework/scripts/abp.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>
    @* ◢◢◢◢◢ jurassuc框架 js&css ◣◣◣◣◣ *@
    <link href="~/Content/frameCore/css/frameCommon.css" rel="stylesheet" />
    <script src="~/Content/frameCore/scripts/frameCore.js"></script>
    <script src="~/Content/frameCore/scripts/frameGlobal.js"></script>
    <script src="~/Content/Lib/cookieJs/js.cookie.min.js"></script>
    <!--Abp动态生成js(相关配置信息)-->
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Content/Lib/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="~/Content/Lib/respond/1.4.2/respond.js"></script>
        <script src="~/Content/Lib/excanvas/excanvas.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        //获取javascript应用程序的根路径
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <link rel="shortcut icon" href="~/Content/frameCore/img/favicon.ico" />
    <!--设置自定义css与js文件-->
    @*@Styles.Render("~/customStyle")
        @Scripts.Render("~/customJavascriptTop")*@
</head>
<body data-vide-bg=" /Content/assets/pages/img/bgvideo.mp4">

    <div class="login-form" id="loginApp">
        <h2>系统基础框架</h2>
        <div class="form-input">
            <input type="text"
                   autocomplete="off"
                   placeholder="用户名"
                   name="username"
                   maxlength="30"
                   v-on:keyup.enter="$refs.password.focus()"
                   v-model="formData.userCode" />
        </div>
        <div class="form-input">
            <input type="password"
                   ref="password"
                   autocomplete="new-password"
                   placeholder="密码"
                   name="password"
                   maxlength="30"
                   v-on:keyup.enter="doSubmitLogin"
                   v-model="formData.password" />
        </div>
        <div class="form-input">
            <input style="height:15px;width:15px;" type="checkbox" name="remember" v-model="formData.isPersistent" />&nbsp;&nbsp;
            <span style="position:absolute; left:30px;">@L("IsPersistent")</span>
        </div>
        <div class="form-input">
            <input type="submit" v-on:click="doSubmitLogin()" value='@L("Login")'>
        </div>

        <a href="#" class="forget" style="display:none;">忘记密码?</a>
        <a href="#" class="register" style="display:none;">立即注册</a>

        <div v-if="languages.isMultilingual">
            <ul class="languages">
                <li v-for="item in languages.languagesData" class="languagePage" v-bind:class="languages.currentLanguage.name==item.name?'languageSize':''" v-bind:style="doLanguageImg(item.icon)">
                    <a class="social-icon-color " v-bind:title="item.displayName" v-bind:data-original-title="item.displayName" v-bind:href="doLanguageUrl(item.name,'@(ApplicationPath)','@(Context.Request.Path)')">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </li>
            </ul>
        </div>

    </div>

</body>
</html>

<script>

    var returnUrl = "@Model.ReturnUrl";
    new Vue({
        el: '#loginApp',
        components: {
            webtitle: componentAssemble.SysWebTitle
        },
        data: function () {
            return {
                languages: {
                    languagesData: [],
                    currentLanguage: {},
                    isMultilingual: false
                },
                formData: {
                    userCode: '',
                    password: '',
                    isPersistent: false,
                    returnUrl: ""
                },
            };
        },
        created: function () {
          
            //是否启用语言
            this.languages.isMultilingual = abp.setting.getBoolean("IsMultilingual");
            //获取语言信息
            this.languages.currentLanguage = abp.localization.currentLanguage;
            this.languages.languagesData = abp.localization.languages;
        },
        methods: {
            doSubmitLogin: function () {
                //获取页面返回地址
                var url = document.location.toString();
                var arrUrl = url.split("//");
                var relUrl = arrUrl[1].split("ReturnUrl=")
                if (relUrl[1]) {
                    this.formData.returnUrl = decodeURIComponent(relUrl[1]);
                }
                //
                if (!this.formData.userCode) {
                    abp.message.warn('UserCodeRequired')
                    return;
                }
                if (!this.formData.password) {
                    abp.message.warn('UserCodePass')
                    return;
                }
                var _this = this;

                abp.ajax({
                    url: '/SysLogin/LoginRequest',
                    data: JSON.stringify(_this.formData),
                    type: 'POST',
                    error: null
                });
            },

        }
    });
</script>